.form{
    display:flex;
}

.form input{
    flex: 1;
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #d2d2d2;
}
.create-button{
    padding:0.5rem 1rem;
    margin-left: 1rem;
    background: #474a6b;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.create-button:hover{
    background: rgb(106, 128, 201);
}